<!DOCTYPE html>
<html>

    <head>
        <title>Thomas' Blog</title>
    </head>

    <body>

        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <h4><a href="">{{ post.author }} posted:</a></h4>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}

    </body>

</html>
